/* 8-mixin_margins */
@mixin margins-sml {
	margin-left: 10px;
	margin-right: 10px;
}

@mixin margins-big {
	margin-left: 15px;
	margin-right: 15px;
}

body {
	@include margins-sml()
}

div {
	@include margins-big()
}